<a href="https://colab.research.google.com/github/sbs23092/introduction_to_ml_with_python/blob/master/Machine_Learning__Maciej_Ilka_v_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import warnings #import warnings 
warnings.filterwarnings('ignore') #ignore warnings 

%matplotlib inline 
import numpy as np #numerical operations 
import pandas as pd #data manipulation
from sklearn.decomposition import PCA #import PCA for scikit-learn
import seaborn as sns; #data visualization
import matplotlib.pyplot as plt #plotting 
sns.set() #deffault plotting style
import mglearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression #linearregression

In [ ]:
#open library
df = pd.read_csv('PopulationByAgeSex.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66893 entries, 0 to 66892
Data columns (total 71 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Id                 66893 non-null  int64
 1   LocID              66893 non-null  int64
 2   Location           66893 non-null  object
 3   Time               66893 non-null  int64
 4   PopMale_0_4        66893 non-null  float64
 5   PopFemale_0_4      66893 non-null  float64
 6   PopTotal_0_4       66893 non-null  float64
 7   PopMale_5_9        66893 non-null  float64
 8   PopFemale_5_9      66893 non-null  float64
 9   PopTotal_5_9       66893 non-null  float64
 10  PopMale_10_14      66893 non-null  float64
 11  PopFemale_10_14    66893 non-null  float64
 12  PopTotal_10_14     66893 non-null  float64
 13  PopMale_15_19      66893 non-null  float64
 14  PopFemale_15_19    66893 non-null  float64
 15  PopTotal_15_19     66893 non-null  float64
 16  PopMale_20_24      66893 non-null  float64
 17  PopFemale_20_24    66893 non-null  float64
 18  PopTotal_20_24     66893 non-null  float64
 19  PopMale_25_29      66893 non-null  float64
 20  PopFemale_25_29    66893 non-null  float64
 21  PopTotal_25_29     66893 non-null  float64
 22  PopMale_30_34      66893 non-null  float64
 23  PopFemale_30_34    66893 non-null  float64
 24  PopTotal_30_34     66893 non-null  float64
 25  PopMale_35_39      66893 non-null  float64
 26  PopFemale_35_39    66893 non-null  float64
 27  PopTotal_35_39     66893 non-null  float64
 28  PopMale_40_44      66893 non-null  float64
 29  PopFemale_40_44    66893 non-null  float64
 30  PopTotal_40_44     66893 non-null  float64
 31  PopMale_45_49      66893 non-null  float64
 32  PopFemale_45_49    66893 non-null  float64
 33  PopTotal_45_49     66893 non-null  float64
 34  PopMale_50_54      66893 non-null  float64
 35  PopFemale_50_54    66893 non-null  float64
 36  PopTotal_50_54     66893 non-null  float64
 37  PopMale_55_59      66893 non-null  float64
 38  PopFemale_55_59    66893 non-null  float64
 39  PopTotal_55_59     66893 non-null  float64
 40  PopMale_60_64      66893 non-null  float64
 41  PopFemale_60_64    66893 non-null  float64
 42  PopTotal_60_64     66893 non-null  float64
 43  PopMale_65_69      66893 non-null  float64
 44  PopFemale_65_69    66893 non-null  float64
 45  PopTotal_65_69     66893 non-null  float64
 46  PopMale_70_74      66893 non-null  float64
 47  PopFemale_70_74    66893 non-null  float64
 48  PopTotal_70_74     66893 non-null  float64
 49  PopMale_75_79      66893 non-null  float64
 50  PopFemale_75_79    66893 non-null  float64
 51  PopTotal_75_79     66893 non-null  float64
 52  PopMale_80_84      66893 non-null  float64
 53  PopFemale_80_84    66893 non-null  float64
 54  PopTotal_80_84     66893 non-null  float64
 55  PopMale_85_89      66893 non-null  float64
 56  PopFemale_85_89    66893 non-null  float64
 57  PopTotal_85_89     66893 non-null  float64
 58  PopMale_90_94      66893 non-null  float64
 59  PopFemale_90_94    66893 non-null  float64
 60  PopTotal_90_94     66893 non-null  float64
 61  PopMale_95_99      66893 non-null  float64
 62  PopFemale_95_99    66893 non-null  float64
 63  PopTotal_95_99     66893 non-null  float64
 64  PopMale_100Plus    66893 non-null  float64
 65  PopFemale_100Plus  66893 non-null  float64
 66  PopTotal_100Plus   66893 non-null  float64
 67  PopMale            66893 non-null  float64
 68  PopFemale          66893 non-null  float64
 69  PopTotal           66893 non-null  float64
 70  YearDataCompleted  66893 non-null  int64
dtypes: float64(66), int64(4), object(1)
memory usage: 36.2+ MB

In [ ]:
df.head()

,Id,LocID,Location,Time,PopMale_0_4,PopFemale_0_4,PopTotal_0_4,PopMale_5_9,PopFemale_5_9,PopTotal_5_9,...,PopMale_95_99,PopFemale_95_99,PopTotal_95_99,PopMale_100Plus,PopFemale_100Plus,PopTotal_100Plus,PopMale,PopFemale,PopTotal,YearDataCompleted
0,1,4,Afghanistan,1950,630.044,661.578,1291.622,516.206,487.335,1003.541,...,0.004,0.003,0.007,0.0,0.0,0.0,4099.243,3652.874,7752.117,1
1,2,4,Afghanistan,1951,641.199,673.293,1314.492,525.302,502.402,1027.704,...,0.007,0.005,0.012,0.0,0.0,0.0,4134.756,3705.395,7840.151,1
2,3,4,Afghanistan,1952,650.825,669.274,1320.099,533.097,521.672,1054.769,...,0.012,0.009,0.021,0.0,0.0,0.0,4174.450,3761.546,7935.996,1
3,4,4,Afghanistan,1953,659.896,663.606,1323.502,538.351,541.216,1079.567,...,0.015,0.013,0.028,0.0,0.0,0.0,4218.336,3821.348,8039.684,1
4,5,4,Afghanistan,1954,670.694,663.295,1333.989,540.820,557.196,1098.016,...,0.014,0.011,0.025,0.0,0.0,0.0,4266.484,3884.832,8151.316,1

In [ ]:
df.shape

(66893, 71)

In [ ]:
df.isnull().sum()

Id                   0
LocID                0
Location             0
Time                 0
PopMale_0_4          0
                    ..
PopTotal_100Plus     0
PopMale              0
PopFemale            0
PopTotal             0
YearDataCompleted    0
Length: 71, dtype: int64

In [ ]:
df.isnull().mean() * 100

Id                   0.0
LocID                0.0
Location             0.0
Time                 0.0
PopMale_0_4          0.0
                    ...
PopTotal_100Plus     0.0
PopMale              0.0
PopFemale            0.0
PopTotal             0.0
YearDataCompleted    0.0
Length: 71, dtype: float64

# Drop columns

In [ ]:
df = df.drop(columns=["PopMale_0_4","PopFemale_0_4","PopMale_5_9", "PopFemale_5_9", "PopMale_10_14","PopFemale_10_14","PopMale_15_19","PopFemale_15_19","PopMale_20_24","PopFemale_20_24","PopMale_25_29","PopFemale_25_29","PopMale_30_34","PopFemale_30_34","PopMale_35_39","PopFemale_35_39","PopMale_40_44","PopFemale_40_44","PopMale_45_49","PopFemale_45_49","PopMale_50_54","PopFemale_50_54","PopMale_55_59","PopFemale_55_59","PopMale_60_64","PopFemale_60_64","PopMale_65_69","PopFemale_65_69","PopMale_70_74","PopFemale_70_74","PopMale_75_79","PopFemale_75_79","PopMale_80_84","PopFemale_80_84","PopMale_85_89","PopFemale_85_89","PopMale_90_94","PopFemale_90_94","PopMale_95_99","PopFemale_95_99","PopMale_100Plus","PopFemale_100Plus","YearDataCompleted"])
df.head()

,Id,LocID,Location,Time,PopTotal_0_4,PopTotal_5_9,PopTotal_10_14,PopTotal_15_19,PopTotal_20_24,PopTotal_25_29,...,PopTotal_70_74,PopTotal_75_79,PopTotal_80_84,PopTotal_85_89,PopTotal_90_94,PopTotal_95_99,PopTotal_100Plus,PopMale,PopFemale,PopTotal
0,1,4,Afghanistan,1950,1291.622,1003.541,884.704,783.732,692.501,593.610,...,67.200,30.097,8.886,1.526,0.139,0.007,0.0,4099.243,3652.874,7752.117
1,2,4,Afghanistan,1951,1314.492,1027.704,893.229,790.341,698.280,600.495,...,68.531,31.735,10.070,1.898,0.172,0.012,0.0,4134.756,3705.395,7840.151
2,3,4,Afghanistan,1952,1320.099,1054.769,906.756,801.420,705.872,610.058,...,69.609,32.923,10.966,2.190,0.231,0.021,0.0,4174.450,3761.546,7935.996
3,4,4,Afghanistan,1953,1323.502,1079.567,924.266,814.914,714.436,620.763,...,70.394,33.562,11.430,2.375,0.297,0.028,0.0,4218.336,3821.348,8039.684
4,5,4,Afghanistan,1954,1333.989,1098.016,944.377,829.684,724.190,631.571,...,70.870,33.634,11.395,2.390,0.315,0.025,0.0,4266.484,3884.832,8151.316

In [ ]:
europe_df = df.loc[df['LocID'] == 917]

In [ ]:
europe_df.head(20)

,Id,LocID,Location,Time,PopTotal_0_4,PopTotal_5_9,PopTotal_10_14,PopTotal_15_19,PopTotal_20_24,PopTotal_25_29,...,PopTotal_70_74,PopTotal_75_79,PopTotal_80_84,PopTotal_85_89,PopTotal_90_94,PopTotal_95_99,PopTotal_100Plus,PopMale,PopFemale,PopTotal
24463,24464,917,Europe,1950,51684.264,41977.805,50974.699,46660.857,49338.963,43090.616,...,12822.854,8026.079,3744.762,1448.919,373.406,68.957,11.032,256462.130,292866.729,549328.859
24465,24466,917,Europe,1951,54788.322,41450.179,49665.874,46984.205,48877.551,44923.174,...,12974.027,8260.723,3964.276,1531.946,427.037,73.929,10.057,259098.009,295226.497,554324.506
24467,24468,917,Europe,1952,55479.494,42511.680,47600.160,48299.679,48030.988,46511.030,...,13172.843,8483.667,4189.729,1571.962,464.234,85.889,9.297,261932.512,297761.850,559694.362
24469,24470,917,Europe,1953,55454.645,44986.231,44962.379,49887.729,46949.119,47640.641,...,13400.367,8680.984,4391.567,1574.913,479.912,94.158,8.652,264881.639,300400.325,565281.964
24471,24472,917,Europe,1954,55361.766,48115.614,42701.482,50819.835,46150.757,48261.694,...,13659.878,8860.714,4548.273,1563.937,460.164,89.069,8.097,267882.726,303087.014,570969.740
24473,24474,917,Europe,1955,55579.608,50677.194,41750.965,50605.939,45991.094,48417.530,...,13957.251,9044.017,4660.676,1550.254,394.456,62.292,7.616,270894.067,305784.697,576678.764
24475,24476,917,Europe,1956,55120.080,52705.800,42185.161,49401.636,46515.235,48196.831,...,14172.304,9240.525,4874.901,1738.957,443.040,70.428,7.228,273896.454,308474.864,582371.318
24477,24478,917,Europe,1957,55413.420,54050.806,43811.903,47051.748,47734.437,47302.574,...,14409.098,9410.278,5026.929,1889.607,470.548,86.781,6.895,276891.642,311156.581,588048.223
24479,24480,917,Europe,1958,56112.321,54675.383,46302.399,44293.334,49164.218,46140.643,...,14678.143,9577.042,5133.291,1981.063,485.622,98.347,6.642,279899.394,313843.963,593743.357
24481,24482,917,Europe,1959,56795.416,54868.802,48906.122,42254.674,49998.654,45313.923,...,14972.538,9763.163,5211.676,2017.271,477.001,94.359,6.460,282951.630,316561.599,599513.229
24483,24484,917,Europe,1960,57151.744,55127.098,50979.648,41602.334,49781.623,45161.276,...,15285.600,9986.087,5279.054,2000.482,436.506,66.280,6.354,286076.056,319330.910,605406.966
24485,24486,917,Europe,1961,57456.622,55566.551,52400.972,42099.210,48661.852,45666.178,...,15457.521,10247.066,5483.504,2173.683,525.582,74.442,6.320,289278.230,322155.805,611434.035
24487,24488,917,Europe,1962,57477.381,56009.522,53369.966,43863.663,46489.561,46960.089,...,15623.867,10518.188,5664.021,2288.571,593.518,91.166,6.360,292526.098,325010.072,617536.170
24489,24490,917,Europe,1963,57208.182,56451.850,53979.872,46410.719,43913.841,48522.054,...,15831.901,10789.528,5833.798,2338.655,637.858,104.227,6.454,295743.381,327831.752,623575.133
24491,24492,917,Europe,1964,56790.849,56822.281,54455.794,48899.814,41981.853,49485.334,...,16132.994,11042.021,5996.197,2345.700,637.913,102.379,6.587,298828.457,330538.709,629367.166
24493,24494,917,Europe,1965,56299.116,57027.709,54964.738,50793.031,41335.827,49351.551,...,16552.034,11275.869,6153.171,2326.157,582.176,75.748,6.736,301709.522,333073.669,634783.191
24495,24496,917,Europe,1966,55741.042,57149.716,55482.579,52190.877,41830.048,48244.465,...,16879.241,11446.722,6389.008,2538.473,675.595,92.502,6.910,304353.716,335408.225,639761.941
24497,24498,917,Europe,1967,55040.267,57119.578,55968.204,53082.950,43545.769,46052.237,...,17289.618,11568.261,6597.905,2692.647,735.177,121.622,7.102,306783.376,337562.116,644345.492
24499,24500,917,Europe,1968,54275.134,56934.910,56412.627,53606.492,46005.022,43437.030,...,17794.165,11680.388,6785.006,2773.582,768.977,143.195,7.340,309050.845,339585.276,648636.121
24501,24502,917,Europe,1969,53545.650,56616.105,56769.505,54042.305,48402.651,41465.630,...,18395.397,11843.758,6934.729,2802.982,760.757,141.744,7.655,311236.800,341552.853,652789.653

# Linear Regression

In [ ]:
# split dataset in features and target variable
feature_cols = ['PopTotal']
X = europe_df[feature_cols]               # Features of the dataset
y = europe_df.Time                      # Target variable of the dataset

# Display the X and y arrays
print(X, y)

         PopTotal
24463  549328.859
24465  554324.506
24467  559694.362
24469  565281.964
24471  570969.740
...           ...
24755  633059.951
24757  632199.281
24759  631333.521
24761  630456.833
24763  629562.562

[151 rows x 1 columns] 24463    1950
24465    1951
24467    1952
24469    1953
24471    1954
         ...
24755    2096
24757    2097
24759    2098
24761    2099
24763    2100
Name: Time, Length: 151, dtype: int64

In [ ]:
# Store and load the dataset 
X = europe_df[feature_cols]               # Features of the dataset
y = europe_df.Time   
X.shape, y.shape

((151, 1), (151,))

In [ ]:
#X and y are the array variables that store the independent and dependent variables
X, y = mglearn.datasets.make_wave(n_samples = 60)

# Call the train_test_split method to split the data and the default splitting is 75% for training and 25% for testing
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 40)

# Train the LinearRegression mode by using a method fit() function/ method
lr = LinearRegression().fit(X_train, y_train)

In [ ]:
# Display the coefficient and intercept values
print("lr.coef_: {}".format(lr.coef_))
print("lr.intercept_: {}".format(lr.intercept_))

lr.coef_: [0.41903332]
lr.intercept_: -0.09450848331906847

In [ ]:
# Display the score values by calling lr
print("Training set score: {:.2f}".format(lr.score(X_train, y_train)))
print("Test set score: {:.2f}".format(lr.score(X_test, y_test)))

Training set score: 0.65
Test set score: 0.74

In [ ]:
# Split the dataset by using train_test_splitting to 25% and 75% for training
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

# Use LinearRegression() model to train the data
lr = LinearRegression().fit(X_train, y_train)

In [ ]:
# Display the score using format function
print("Training set score: {:.2f}".format(lr.score(X_train, y_train)))
print("Test set score: {:.2f}".format(lr.score(X_test, y_test)))

Training set score: 0.66
Test set score: 0.69

In [ ]:
asia_df = df.loc[df['LocID'] == 935]

In [ ]:
africa_df = df.loc[df['LocID'] == 903]

In [ ]:
centralamerica_df = df.loc[df['LocID'] == 916]

In [ ]:
southamerica_df = df.loc[df['LocID'] == 931]

In [ ]:
oceania_df = df.loc[df['LocID'] == 909]

In [ ]:
northeramerica_df = df.loc[df['LocID'] == 905]

In [ ]:
europe_df.shape

(151, 28)

In [ ]:
dfs_dict = {'europe_df': df.loc[df['LocID'] == 917],
            'asia_df': df.loc[df['LocID'] == 935],
            'africa_df': df.loc[df['LocID'] == 903],
            'centralamerica_df': df.loc[df['LocID'] == 916],
            'southamerica_df': df.loc[df['LocID'] == 931],
            'oceania_df': df.loc[df['LocID'] == 909],
            'northeramerica_df': df.loc[df['LocID'] == 905]}

In [ ]:
dfs_dict.shape

AttributeError: 'dict' object has no attribute 'shape'

In [ ]:
df = pd.get_dummies(df)
df.shape

In [ ]:
df.columns.to_list()

In [ ]:
df = df.drop(columns=['Location_Afghanistan',
 'Location_African Group',
 'Location_African Union',
 'Location_African Union: Central Africa',
 'Location_African Union: Eastern Africa',
 'Location_African Union: Northern Africa',
 'Location_African Union: Southern Africa',
 'Location_African Union: Western Africa',
 'Location_African; Caribbean and Pacific (ACP) Group of States',
 'Location_Albania',
 'Location_Algeria',
 'Location_Andean Community',
 'Location_Angola',
 'Location_Antigua and Barbuda',
 'Location_Argentina',
 'Location_Armenia',
 'Location_Aruba',
 'Location_Asia-Pacific Economic Cooperation (APEC)',
 'Location_Asia-Pacific Group',
 'Location_Association of Southeast Asian Nations (ASEAN)',
 'Location_Australia',
 'Location_Australia/New Zealand',
 'Location_Austria',
 'Location_Azerbaijan',
 'Location_BRIC',
 'Location_BRICS',
 'Location_Bahamas',
 'Location_Bahrain',
 'Location_Bangladesh',
 'Location_Barbados',
 'Location_Belarus',
 'Location_Belgium',
 'Location_Belize',
 'Location_Belt-Road Initiative (BRI)',
 'Location_Belt-Road Initiative: Africa',
 'Location_Belt-Road Initiative: Asia',
 'Location_Belt-Road Initiative: Europe',
 'Location_Belt-Road Initiative: Latin America and the Caribbean',
 'Location_Belt-Road Initiative: Pacific',
 'Location_Benin',
 'Location_Bhutan',
 'Location_Black Sea Economic Cooperation (BSEC)',
 'Location_Bolivarian Alliance for the Americas (ALBA)',
 'Location_Bolivia (Plurinational State of)',
 'Location_Bosnia and Herzegovina',
 'Location_Botswana',
 'Location_Brazil',
 'Location_Brunei Darussalam',
 'Location_Bulgaria',
 'Location_Burkina Faso',
 'Location_Burundi',
 'Location_Cabo Verde',
 'Location_Cambodia',
 'Location_Cameroon',
 'Location_Canada',
 'Location_Caribbean',
 'Location_Caribbean Community and Common Market (CARICOM)',
 'Location_Central African Republic',
 'Location_Central Asia',
 'Location_Central European Free Trade Agreement (CEFTA)',
 'Location_Central and Southern Asia',
 'Location_Chad',
 'Location_Channel Islands',
 'Location_Chile',
 'Location_China',
 'Location_China (and dependencies)',
 'Location_China; Hong Kong SAR',
 'Location_China; Macao SAR',
 'Location_China; Taiwan Province of China',
 'Location_Colombia',
 'Location_Commonwealth of Independent States (CIS)',
 'Location_Commonwealth of Nations',
 'Location_Commonwealth: Africa',
 'Location_Commonwealth: Asia',
 'Location_Commonwealth: Caribbean and Americas',
 'Location_Commonwealth: Europe',
 'Location_Commonwealth: Pacific',
 'Location_Comoros',
 'Location_Congo',
 'Location_Costa Rica',
 'Location_Countries with Access to the Sea',
 'Location_Countries with Access to the Sea: Africa',
 'Location_Countries with Access to the Sea: Asia',
 'Location_Countries with Access to the Sea: Europe',
 'Location_Countries with Access to the Sea: Latin America and the Caribbean',
 'Location_Countries with Access to the Sea: Northern America',
 'Location_Countries with Access to the Sea: Oceania',
 'Location_Croatia',
 'Location_Cuba',
 'Location_Curaçao',
 'Location_Cyprus',
 'Location_Czechia',
 "Location_Côte d'Ivoire",
 "Location_Dem. People's Republic of Korea",
 'Location_Democratic Republic of the Congo',
 'Location_Denmark',
 'Location_Denmark (and dependencies)',
 'Location_Djibouti',
 'Location_Dominican Republic',
 'Location_ECE: North America-2',
 'Location_ECE: UNECE-52',
 'Location_ECLAC: Latin America',
 'Location_ECLAC: The Caribbean',
 'Location_ESCAP region: East and North-East Asia',
 'Location_ESCAP region: North and Central Asia',
 'Location_ESCAP region: Pacific',
 'Location_ESCAP region: South and South-West Asia',
 'Location_ESCAP region: South-East Asia',
 'Location_ESCAP: ADB Developing member countries (DMCs)',
 'Location_ESCAP: ADB Group A (Concessional assistance\xa0only)',
 'Location_ESCAP: ADB Group B\xa0(OCR blend)',
 'Location_ESCAP: ADB Group C (Regular OCR only)',
 'Location_ESCAP: ASEAN',
 'Location_ESCAP: Central Asia',
 'Location_ESCAP: ECO',
 'Location_ESCAP: HDI groups',
 'Location_ESCAP: Landlocked countries (LLDCs)',
 'Location_ESCAP: Least Developed Countries (LDCs)',
 'Location_ESCAP: Pacific island dev. econ.',
 'Location_ESCAP: SAARC',
 'Location_ESCAP: WB High income econ.',
 'Location_ESCAP: WB Low income econ.',
 'Location_ESCAP: WB Lower middle income econ.',
 'Location_ESCAP: WB Upper middle income econ.',
 'Location_ESCAP: WB income groups',
 'Location_ESCAP: high HDI',
 'Location_ESCAP: high income',
 'Location_ESCAP: income groups',
 'Location_ESCAP: low HDI',
 'Location_ESCAP: low income',
 'Location_ESCAP: lower middle HDI',
 'Location_ESCAP: lower middle income',
 'Location_ESCAP: other Asia-Pacific countries/areas',
 'Location_ESCAP: upper middle HDI',
 'Location_ESCAP: upper middle income',
 'Location_ESCWA: Arab countries',
 'Location_ESCWA: Arab least developed countries',
 'Location_ESCWA: Gulf Cooperation Council countries',
 'Location_ESCWA: Maghreb countries',
 'Location_ESCWA: Mashreq countries',
 'Location_ESCWA: member countries',
 'Location_East African Community (EAC)',
 'Location_Eastern Africa',
 'Location_Eastern Asia',
 'Location_Eastern Europe',
 'Location_Eastern European Group',
 'Location_Eastern and South-Eastern Asia',
 'Location_Economic Community of Central African States (ECCAS)',
 'Location_Economic Community of West African States (ECOWAS)',
 'Location_Economic Cooperation Organization (ECO)',
 'Location_Ecuador',
 'Location_Egypt',
 'Location_El Salvador',
 'Location_Equatorial Guinea',
 'Location_Eritrea',
 'Location_Estonia',
 'Location_Eswatini',
 'Location_Ethiopia',
 'Location_Eurasian Economic Community (Eurasec)',
 'Location_Europe (48)',
 'Location_Europe and Northern America',
 'Location_European Community (EC: 12)',
 'Location_European Free Trade Agreement (EFTA)',
 'Location_European Union (EU: 15)',
 'Location_European Union (EU: 28)',
 'Location_Fiji',
 'Location_Finland',
 'Location_France',
 'Location_France (and dependencies)',
 'Location_French Guiana',
 'Location_French Polynesia',
 'Location_Gabon',
 'Location_Gambia',
 'Location_Georgia',
 'Location_Germany',
 'Location_Ghana',
 'Location_Greater Arab Free Trade Area (GAFTA)',
 'Location_Greece',
 'Location_Grenada',
 'Location_Group of 77 (G77)',
 'Location_Group of Eight (G8)',
 'Location_Group of Seven (G7)',
 'Location_Group of Twenty (G20) - member states',
 'Location_Guadeloupe',
 'Location_Guam',
 'Location_Guatemala',
 'Location_Guinea',
 'Location_Guinea-Bissau',
 'Location_Gulf Cooperation Council (GCC)',
 'Location_Guyana',
 'Location_Haiti',
 'Location_High-income countries',
 'Location_Honduras',
 'Location_Hungary',
 'Location_Iceland',
 'Location_India',
 'Location_Indonesia',
 'Location_Iran (Islamic Republic of)',
 'Location_Iraq',
 'Location_Ireland',
 'Location_Israel',
 'Location_Italy',
 'Location_Jamaica',
 'Location_Japan',
 'Location_Jordan',
 'Location_Kazakhstan',
 'Location_Kenya',
 'Location_Kiribati',
 'Location_Kuwait',
 'Location_Kyrgyzstan',
 'Location_LLDC: Africa',
 'Location_LLDC: Asia',
 'Location_LLDC: Europe',
 'Location_LLDC: Latin America',
 'Location_Land-locked Countries',
 'Location_Land-locked Countries (Others)',
 'Location_Land-locked Developing Countries (LLDC)',
 "Location_Lao People's Democratic Republic",
 'Location_Latin America and the Caribbean',
 'Location_Latin American Integration Association (ALADI)',
 'Location_Latin American and Caribbean Group (GRULAC)',
 'Location_Latvia',
 'Location_League of Arab States (LAS; informal name: Arab League)',
 'Location_Least developed countries',
 'Location_Least developed: Africa',
 'Location_Least developed: Asia',
 'Location_Least developed: Latin America and the Caribbean',
 'Location_Least developed: Oceania',
 'Location_Lebanon',
 'Location_Lesotho',
 'Location_Less developed regions',
 'Location_Less developed regions; excluding China',
 'Location_Less developed regions; excluding least developed countries',
 'Location_Less developed: Africa',
 'Location_Less developed: Asia',
 'Location_Less developed: Latin America and the Caribbean',
 'Location_Less developed: Oceania',
 'Location_Liberia',
 'Location_Libya',
 'Location_Lithuania',
 'Location_Low-income countries',
 'Location_Lower-middle-income countries',
 'Location_Luxembourg',
 'Location_Madagascar',
 'Location_Malawi',
 'Location_Malaysia',
 'Location_Maldives',
 'Location_Mali',
 'Location_Malta',
 'Location_Martinique',
 'Location_Mauritania',
 'Location_Mauritius',
 'Location_Mayotte',
 'Location_Melanesia',
 'Location_Mexico',
 'Location_Micronesia',
 'Location_Micronesia (Fed. States of)',
 'Location_Middle Africa',
 'Location_Middle-income countries',
 'Location_Mongolia',
 'Location_Montenegro',
 'Location_More developed regions',
 'Location_More developed: Asia',
 'Location_More developed: Europe',
 'Location_More developed: Northern America',
 'Location_More developed: Oceania',
 'Location_Morocco',
 'Location_Mozambique',
 'Location_Myanmar',
 'Location_Namibia',
 'Location_Nepal',
 'Location_Netherlands',
 'Location_Netherlands (and dependencies)',
 'Location_New Caledonia',
 'Location_New EU member states (joined since 2004)',
 'Location_New Zealand',
 'Location_New Zealand (and dependencies)',
 'Location_Nicaragua',
 'Location_Niger',
 'Location_Nigeria',
 'Location_No income group available',
 'Location_Non-Self-Governing Territories',
 'Location_North American Free Trade Agreement (NAFTA)',
 'Location_North Atlantic Treaty Organization (NATO)',
 'Location_North Macedonia',
 'Location_Northern Africa',
 'Location_Northern Africa and Western Asia',
 'Location_Northern Europe',
 'Location_Norway',
 'Location_Oceania (excluding Australia and New Zealand)',
 'Location_Oman',
 'Location_Organisation for Economic Co-operation and Development (OECD)',
 'Location_Organization for Security and Co-operation in Europe (OSCE)',
 'Location_Organization of American States (OAS)',
 'Location_Organization of Petroleum Exporting countries (OPEC)',
 'Location_Organization of the Islamic Conference (OIC)',
 'Location_Pakistan',
 'Location_Panama',
 'Location_Papua New Guinea',
 'Location_Paraguay',
 'Location_Peru',
 'Location_Philippines',
 'Location_Poland',
 'Location_Polynesia',
 'Location_Portugal',
 'Location_Puerto Rico',
 'Location_Qatar',
 'Location_Republic of Korea',
 'Location_Republic of Moldova',
 'Location_Romania',
 'Location_Russian Federation',
 'Location_Rwanda',
 'Location_Réunion',
 'Location_SIDS Atlantic; and Indian Ocean; Mediterranean and South China Sea (AIMS)',
 'Location_SIDS Caribbean',
 'Location_SIDS Pacific',
 'Location_Saint Lucia',
 'Location_Saint Vincent and the Grenadines',
 'Location_Samoa',
 'Location_Sao Tome and Principe',
 'Location_Saudi Arabia',
 'Location_Senegal',
 'Location_Serbia',
 'Location_Seychelles',
 'Location_Shanghai Cooperation Organization (SCO)',
 'Location_Sierra Leone',
 'Location_Singapore',
 'Location_Slovakia',
 'Location_Slovenia',
 'Location_Small Island Developing States (SIDS)',
 'Location_Solomon Islands',
 'Location_Somalia',
 'Location_South Africa',
 'Location_South Asian Association for Regional Cooperation (SAARC)',
 'Location_South Sudan',
 'Location_South-Eastern Asia',
 'Location_Southern Africa',
 'Location_Southern African Development Community (SADC)',
 'Location_Southern Asia',
 'Location_Southern Common Market (MERCOSUR)',
 'Location_Southern Europe',
 'Location_Spain',
 'Location_Sri Lanka',
 'Location_State of Palestine',
 'Location_Sub-Saharan Africa',
 'Location_Sudan',
 'Location_Suriname',
 'Location_Sweden',
 'Location_Switzerland',
 'Location_Syrian Arab Republic',
 'Location_Tajikistan',
 'Location_Thailand',
 'Location_Timor-Leste',
 'Location_Togo',
 'Location_Tonga',
 'Location_Trinidad and Tobago',
 'Location_Tunisia',
 'Location_Turkey',
 'Location_Turkmenistan',
 'Location_UN-ECE: member countries',
 'Location_UNFPA Regions',
 'Location_UNFPA: Arab States (AS)',
 'Location_UNFPA: Asia and the Pacific (AP)',
 'Location_UNFPA: East and Southern Africa (ESA)',
 'Location_UNFPA: Eastern Europe and Central Asia (EECA)',
 'Location_UNFPA: Latin America and the Caribbean (LAC)',
 'Location_UNFPA: West and Central Africa (WCA)',
 'Location_UNICEF PROGRAMME REGIONS',
 'Location_UNICEF Programme Regions: East Asia and Pacific (EAPRO)',
 'Location_UNICEF Programme Regions: Eastern Caribbean',
 'Location_UNICEF Programme Regions: Eastern and Southern Africa (ESARO)',
 'Location_UNICEF Programme Regions: Europe and Central Asia (CEECIS)',
 'Location_UNICEF Programme Regions: Latin America',
 'Location_UNICEF Programme Regions: Latin America and Caribbean (LACRO)',
 'Location_UNICEF Programme Regions: Middle East and North Africa (MENARO)',
 'Location_UNICEF Programme Regions: South Asia (ROSA)',
 'Location_UNICEF Programme Regions: West and Central Africa (WCARO)',
 'Location_UNICEF REGIONS',
 'Location_UNICEF Regions: East Asia and Pacific',
 'Location_UNICEF Regions: Eastern Europe and Central Asia',
 'Location_UNICEF Regions: Eastern and Southern Africa',
 'Location_UNICEF Regions: Europe and Central Asia',
 'Location_UNICEF Regions: Latin America and Caribbean',
 'Location_UNICEF Regions: Middle East and North Africa',
 'Location_UNICEF Regions: North America',
 'Location_UNICEF Regions: South Asia',
 'Location_UNICEF Regions: Sub-Saharan Africa',
 'Location_UNICEF Regions: West and Central Africa',
 'Location_UNICEF Regions: Western Europe',
 'Location_UNITED NATIONS Regional Groups of Member States',
 'Location_Uganda',
 'Location_Ukraine',
 'Location_United Arab Emirates',
 'Location_United Kingdom',
 'Location_United Kingdom (and dependencies)',
 'Location_United Nations Economic Commission for Africa (UN-ECA)',
 'Location_United Nations Economic Commission for Latin America and the Caribbean (UN-ECLAC)',
 'Location_United Nations Economic and Social Commission for Asia and the Pacific (UN-ESCAP) Regions',
 'Location_United Nations Member States',
 'Location_United Republic of Tanzania',
 'Location_United States Virgin Islands',
 'Location_United States of America',
 'Location_United States of America (and dependencies)',
 'Location_Upper-middle-income countries',
 'Location_Uruguay',
 'Location_Uzbekistan',
 'Location_Vanuatu',
 'Location_Venezuela (Bolivarian Republic of)',
 'Location_Viet Nam',
 'Location_WB region: East Asia and Pacific (excluding high income)',
 'Location_WB region: Europe and Central Asia (excluding high income)',
 'Location_WB region: Latin America and Caribbean (excluding high income)',
 'Location_WB region: Middle East and North Africa (excluding high income)',
 'Location_WB region: South Asia (excluding high income)',
 'Location_WB region: Sub-Saharan Africa (excluding high income)',
 'Location_WHO Regions',
 'Location_WHO: African region (AFRO)',
 'Location_WHO: Americas (AMRO)',
 'Location_WHO: Eastern Mediterranean Region (EMRO)',
 'Location_WHO: European Region (EURO)',
 'Location_WHO: South-East Asia region (SEARO)',
 'Location_WHO: Western Pacific region (WPRO)',
 'Location_West African Economic and Monetary Union (UEMOA)',
 'Location_Western Africa',
 'Location_Western Asia',
 'Location_Western Europe',
 'Location_Western European and Others Group (WEOG)',
 'Location_Western Sahara',
 'Location_World',
 'Location_World Bank Regional Groups (developing only)',
 'Location_Yemen',
 'Location_Zambia',
 'Location_Zimbabwe'])
df.head()

In [ ]:
df.dtypes

In [ ]:
df.head(500)

In [ ]:
new_df = ['Europe','Asia','Africa','Northern America','Central America','South America']

In [ ]:
new_df = df[new_df]

In [ ]:
#pip install pandas-profiling

In [ ]:
import pandas_profiling
#pandas_profiling.ProfileReport(df)